<section id="yup-information">
	<div class="info-columns-container">
		<div class="info-column">
			<h2>Work &amp; Education</h2>
			<p>
				<span class="highlight-fade">November 2017 - June 2018</span>
				<br>
				<span class="highlight-bold berlin highlight-large">
					Front-end Developer
					<br>
				</span>
				at Morning Train Technologies ApS
				<br/>
				<a href="https://morningtrain.dk/" target="_blank">
					<span class="highlight-link highlight-small">company website</span>
				</a>
			</p>
			<p>Tasks include:</p>
			<ul>
				<li>
					<p>UI development</p>
				</li>
				<li>
					<p>Client-side optimizations</p>
				</li>
				<li>
					<p>User data analysis</p>
				</li>
				<li>
					<p>Collaborate with design department to Address UX issues</p>
				</li>
			</ul>

			<hr>

			<p>
				<span class="highlight-fade">September 2016 - June 2018</span>
				<br>
				<span class="highlight-bold berlin highlight-large">
					Multimedia Design &amp;
					<br> Communication
					<br>
				</span>
				at ERHVERVSAKADEMIETLILLEBÆLT ODENSE(Denmark)
				<br/>
				<a href="https://www.eal.dk/international/education/full-degree-students/Programmes/ap-degree-programmes/multimedia-design-and-communication/"
				 target="_blank">
					<span class="highlight-link highlight-small">study programme</span>
				</a>
			</p>
		</div>

		<div class="info-column">
			<h2>What skills I have</h2>
			<h3 style="color: gray">Development Skills</h3>
			<div class="skills-container">
				<div class="tags-wrapper">
					<h3 *ngFor="let skill of developmentSkills" class="skill tag">{{ skill }}</h3>
				</div>
			</div>
			<hr>
			<h3 style="color: gray">Design Skills</h3>
			<div class="skills-container">
				<div class="tags-wrapper">
					<h3 *ngFor="let skill of designSkills" class="skill tag">{{ skill }}</h3>
				</div>
			</div>
		</div>
	</div>

</section>