$orange: #f7941d;

.info-columns-container{
	width: 80%;
	display: flex;
	flex-direction: row;
	margin-left: auto;
	margin-right: auto;
	justify-content: center;
	.info-column {
		width: 33.3333%;
		padding: 0 50px;
		.service-wrapper{
			display: flex;
			p{
				font-size: 13px;
				line-height: normal;
				padding-left: 7px;
			}
		}
		ul {
			font-style: italic;
		}
		.tasks-headline {
			font-weight: 600;
		}
		.tasks-list{
			p {
				margin: 0;
				padding: 0
			}
		}
	}	
}

@media only screen and (max-width: 768px) {
	.info-columns-container{
		width: 100%;
		flex-wrap: wrap;
		.info-column {
			text-align: center;
			width: 100%;
			padding: 20px;
			.service-wrapper {
				justify-content: center;
			}
			.tags-wrapper {
				justify-content: center;
			}
		}
		.tasks-list{
			list-style: none;
			padding: 0;
			p {
				font-style: initial;
			}
		}
	}
}