@import url('https://fonts.googleapis.com/css?family=Roboto:100,400');

@font-face {
	font-family: 'berlin';
	font-display: auto;
	src: url('assets/fonts/berlin/berlindb.ttf') format('truetype');

	font-weight: normal;
	font-style: normal;
}