<section id="yup-about" class="text-center">
	<div class="section-header">
		<h3 class="sub-heading">who?</h3>
		<h1 class="main-heading">~ About Me ~</h1>
	</div>
	<div class="section-content">
		<div class="profile-wrapper round center-block">
			<div class="profile-image-container has-cover round center-block">
				
			</div>
		</div>
		<p>
			Hello! my name is
			<span class="highlight-bold">Eduard Carmocanu,</span>
			<br> I am a Front-end developer and a Multimedia designer,
			<br> I specialize in
			<span class="highlight-bold">client-side web application development</span> with technologies such as
			<span class="highlight">React.JS</span> and
			<span class="highlight">Angular.JS.</span>
			<br/> In addition, I combine development with design by making use of
			<span class="highlight">UX design skills</span> and knowledge,
			<br/> as for i believe that in order to achieve
			<span class="highlight">quality</span> you need to be able to walk in
			<br/> both the shoes of the
			<span class="highlight">designer</span> and those of the
			<span class="highlight">developer</span>
		</p>
		<div class="about-buttons">
			<a href="../../assets/EduardCV.pdf" download>
				<div class="btn resume-btn">Resume</div>
			</a>
			<a href="mailto:carmocanueduard@gmail.com">
				<div class="btn hire-me-btn">Hire Me</div>
			</a>
		</div>
	</div>
</section>