<section id="yup-about" class="text-center">
  <div class="section-header">
    <h3 class="sub-heading">who?</h3>
    <h1 class="main-heading">~ About Me ~</h1>
  </div>
  <div class="section-content">
    <div class="profile-image-container has-cover round center-block">
    </div>
    <p>
        Hello! my name is <span class="highlight-bold">Eduard Carmocanu,</span><br>
        I am a self taught front-end developer from Romania, and I am currently living and studying<br>
        <span class="highlight">Multimedia design and communication</span> in Odense Denmark.<br>
        Oh, and by the way, I like playing around with <span class="highlight">AngularJS, VueJS</span> and much more as I am<br>
        passioned about web developent and how the internet works<br>
    </p>
    <div class="about-buttons">
      <a href="/assets/eduardCV.pdf" download><div class="btn resume-btn">Resume</div></a>
      <a href="mailto:carmocanueduard@gmail.com"><div class="btn hire-me-btn">Hire Me</div></a>
    </div>
  </div>
</section>