$black: #242424;
$orange: #f7941d;

section {
	padding: 12vh 0 12vh 0;
	color: white;
	background-color: $black;
	.section-header{
		.sub-heading {
			color: white;
		}
		.main-heading {
			color: $orange;
		}
	}
	.section-content {
		.email-me-btn {
			background-color: $orange;
			padding: 15px 20px 15px 20px;
			border: 1px solid $orange;
			transition: all 0.2s ease-out;
		}
		.email-me-btn:hover {
			background-color: $black;
			color: $orange;
		}
	}
}

@media only screen and (max-width: 768px) {
	.section-content {
		.email-me-btn {
			width: 100px !important;
			height: 20px !important;
			font-size: 1em;
		}
	}
	section {
		padding-bottom: 0.5vh;
	}

}
p {
	padding: 0 20px;
}