<section id="yup-contact">
	<div class="section-header">
		<h3 class="sub-heading">how?</h3>
		<h1 class="main-heading">~ Let's Talk ~</h1>
		<p>
			I’m happy that you want to contact me,
			<br> I am sure that this would be interesting for both of us
			<br>
		</p>
	</div>
	<div class="section-content text-center">
		<div class="profile-wrapper profile-wrapper--dark round center-block">
			<div class="profile-image-container has-cover round center-block"></div>
		</div>
		<a href="mailto:carmocanueduard@gmail.com">
			<div class="btn email-me-btn center-block">Email Me</div>
		</a>
		<p>carmocanueduard@gmail.com</p>
	</div>

</section>