<div id="yup-project-modal" [class.active]="display" (click)="closeModal()">
  <div class="modal-content" id="modal-content">
    <div class="modal-cover" [style.backgroundImage]="'url(' + projects[id].coverImage + ')'"></div>
    <div class="modal-details-wrapper">
      <h4 class="lighter">{{ projects[id].date }}</h4>
      <h2>{{ projects[id].title }}</h2>
      <p>{{ projects[id].subTitle }}</p>
      <div class="tags-wrapper">
        <h3 class="skill tag" *ngFor="let tag of projects[id].tags">{{ tag }}</h3>
      </div>
      <h3>Description</h3>
      <p>
          {{ projects[id].description }}
      </p>
      <a href="{{ projects[id].link }}" id="project-link"><h4>
        {{ projects[id].link }}
      </h4></a>
    </div>
  </div>
</div>